<h4>Total Received: <%= params[:total] %></h4>

<table class="table">
  <% params[:data].each do |time, count| %>
    <tr>
      <td><%= time %></td>
      <td><%= count %></td>
    </tr>
  <% end %>
</table>
