<div class = 'contianer well'>
  <h2 class="lead">Most Received Event: <strong><%= @params[:most_received_event] %></strong></h2>

  <!-- <div class="list-group"> -->
    <ul class="list-group">
      <%= partial :'partials/event_count', collection: @event_counts %>
    </ul>
  <!-- </div> -->
</div>
