<table class="table">
  <thead>
    <tr>
      <th>URL</th>
      <th>Request</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>Identifier/blog</td>
      <td>10</td>
    </tr>
    <tr>
      <td>Identifier/something</td>
      <td>9</td>
    </tr>
  </tbody>
</table>
