<table class="table">
  <thead>
    <tr>
      <th><%= @params[:header] %></th>
      <th>Requests</th>
    </tr>
  </thead>
  <tbody>
    <% @params[:data].each do |url, count| %>
      <tr>
        <td><%= url %></td>
        <td><%= count %></td>
      </tr>
    <% end %>
  </tbody>
</table>
